$size: 110px

.box
  width: $size
  margin-right: 16px

.colorBox
  width: $size
  height: $size
  margin-right: 8px
  border-radius: 4px
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 6%)
  border: 1px solid var(--grey-300)
  flex-shrink: 0

.hex
  color: rgba(0, 0, 0, 0.6)

.wrapper
  display: flex
  border: 1px solid var(--grey-300)
  padding: 10px
